body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
    display: block;
}
