<div class="dashboard-header">
  <div class="header-left">
    <div class="logo">
      <img
        src="assets/logo/snapedit_1758626403883-removebg-preview.png"
        alt="ERGODRIVE Logo"
        class="logo-img"
      />
    </div>
  </div>
  <div class="header-center">
    <h1 class="welcome-title">{{ pageTitle }}</h1>
    <p class="welcome-subtitle" *ngIf="pageSubtitle">
      {{ pageSubtitle }}
    </p>
  </div>
  <div class="header-right">
    <div class="header-actions">
      <div class="action-buttons">
        <ion-button *ngIf="showSleepTestButton" (click)="onSleepTestClick()" fill="solid" size="small">
          <ion-icon name="bed-outline"></ion-icon>
          Mulai Tes
        </ion-button>
        <ion-button *ngIf="showSimulationButton" (click)="onSimulationClick()" fill="solid" color="tertiary" size="small">
          <ion-icon name="car-sport-outline"></ion-icon>
          Mulai Simulasi
        </ion-button>
        <ion-button *ngIf="showStopTestButton" (click)="onStopTestClick()" fill="solid" color="danger" size="small">
          <ion-icon name="stop-circle-outline"></ion-icon>
          Hentikan Tes
        </ion-button>
      </div>
      <ng-content select="[slot='actions']"></ng-content>
    </div>
  </div>
</div>